[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA Full Composite Pipeline
Exec=nvidia-settings --assign CurrentMetaMode="nvidia-auto-select +0+0 { ForceFullCompositionPipeline = On }"
Terminal=false
Icon=nvidia-settings
Categories=System;Settings;
